*{box-sizing: border-box;}

body{
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: 'Shadows Into Light Two';
}

@import "partials/Nav";
@import "partials/banner";
@import "partials/toys";
@import "partials/toyPop";

.navBarBumper{
	width: 100%;
	height: 50px;
}
.footerContainer {
	padding: 1em;
	font-family: none;
	background-color: #ddd;
}


.soundAdjustment {
	width: 28px;
	height: 28px;
	position: relative;
	float: right;
	top: -30px;
	left: -20px;
	#soundOn, #soundOff{
		font-size: 22px;
	}
}

.contactContainer{
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


@media (max-width: 600px){
	.navbar-brand{
		display: flex;
		justify-content: center;
		.navLogo {
			height: 42px;
			width: 55px;
			margin-top: -14px;
			background-image: url('../images/logo1.png');
			background-size: cover;
		}
	}
	.descriptionContainer, #descripContid{
		flex-wrap: wrap;
		height: 250px;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 30px;
		.aboutFDC, #aboutFDCid{
			width: 100%;
		}
	}
}

@media screen and (max-width: 550px){
	.titleCont{
		flex-wrap: wrap;
		.header{
			width: 100%;
		}
		.headLogo{
			margin-bottom: 20px;
		}
	}
}


@media screen and (max-width: 660px){
	.individualToys{
		.productDetails, #prodDetId{
			width: 100% ;
		}
		.toyImage, #toyImageId{
			width: 100% ;
			border-right: none;
		}
	}
}

@media all and (max-width: 799px){
    .productContent{
        flex-wrap: wrap;
        .toyImages{
            width: 100% ;
        }
        .productDetailsPop{
            width: 100% ;
        }
    }

}

@media all and (min-width: 401px){
    .poppedImg{
        height: 250px;
    }
    .nextPic{
        left: 155px;
        top: 140px;
    }
}

@media all and (max-width: 400px){
    .poppedImg {
        height: 200px;
    }
     .nextPic{
        top: 120px !important;
        left: 112px !important;
    }
}