*{box-sizing: border-box;}

body{
	margin: 0;
	width: 100%;
	background-color: #ddd;
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
}

@import "partials/Nav";
@import "partials/banner";
@import "partials/toys";

.footerContainer {
	padding: 1em;
	font-family: none;
}


