*{box-sizing: border-box;}

body{
	margin: 0;
	width: 100%;
	background-color: #ddd;
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
}

@import "partials/Nav";
@import "partials/banner";
@import "partials/toys";
@import "partials/toyPop";

.navBarBumper{
	width: 100%;
	height: 50px;
}
.footerContainer {
	padding: 1em;
	font-family: none;
}


.soundAdjustment {
	width: 28px;
	height: 28px;
	position: relative;
	float: right;
	top: -30px;
	left: -20px;
	#soundOn, #soundOff{
		font-size: 22px;
	}
}
