

.navbar-brand{
	.navLogo {
	height: 115px;
	width: 115px;
	margin-top: -20px;
	background-image: url('../images/logo2.png');
	background-size: cover;
	}
}


.navbar-right {
	margin-right: 40px;
	.pdLink{
		margin-right: 40px;
	}
}


.pdLinks{
	-ms-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}