.navbar-brand{
	width: 330px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.navLogo {
	height: 45px;
	margin: 0;
	display: inline-block;
	}
	.companyName {
		display: inline-block;
	}
}
@media screen and (max-width: 400px){
	.navbar-brand{
		width: 200px;
		.companyName {
		display: none;
		}
	}
	
}

.navbar-right {
	margin-right: 30px;
}