.toyModal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #E5DFCD !important; /* Fallback color */
    background-color: rgb(229,223,205) !important; /* Black w/ opacity */
    color: #444!important;
    .contentModal {
	    background-color: white;
	    margin: 15% auto; /* 15% from the top and centered */
	    padding: 30px 20px 50px 20px;
	    border: 1px solid #888;
	    width: 80%; /* Could be more or less, depending on screen size */
	}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

//Styling for inner Modal
.productContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .toyImages{
        width: 30%;
        margin-top: 20px;
        .nextPic{
            border: none;
            background: none;
            font-size: 25px;
            position: relative;
            left: 10px;
        }
        .poppedImg{
            margin: 0 auto;
            height: 250px;

            border-radius: 20px;
        }
    }
    .productDetails{
        width: 50%;
        margin-top: 20px;
    }
}

.nextPic:hover{
    color: red;
    cursor: pointer;
}


@media screen and (max-width: 925px) and (min-width: 800px){
    .toyImages{
        width: 35% !important;
    }
}
@media screen and (max-width: 799px){
    .productContent{
        flex-wrap: wrap !important;
        .toyImages{
            width: 100% !important;
        }
        .productDetails{
            width: 100% !important;
        }
    }

}

@media screen and (max-width: 400px){
    .poppedImg {
        height: 200px !important;
    }
}




//ROPE BONES
.ifColors{
    display: flex;
    justify-content: center;
    align-items: center;
    .colOptions{
        padding-top: 5px;
    }
    .colOpt{
        margin: 5px;
        width: 25px;
        height: 25px;
        border: none !important;
    }

    #Bone_Shape_red{
        background-color: #D6212A;
    }
    #Bone_Shape_orange{
        background-color: #EF5C40;
    }
    #Bone_Shape_pink{
        background-color: #FBABC1;
    }
    #Bone_Shape_green{
        background-color: #ACD18D;
    }
    #Bone_Shape_blue{
        background-color: #B1CDD8;
    }
    #Tug_N_Toss_red{
        background-color: #CA1B28;
    }
    #Tug_N_Toss_green{
        background-color: #669163;
    }
    #Tug_N_Toss_blue{
        background-color: #3788C0;
    }
    #Tug_N_Toss_teal{
        background-color: #95D3DC;
    }
    #Tug_N_Toss_redBlue{
        background-image: url('../images/redBlueTnT.jpeg');
        background-size: cover;
    }
    #Tug_N_Toss_tealBlue{
        background-image: url('../images/tealBlueTnT.jpeg');
        background-size: cover;
    }
}
















