.toyContainer {
	width: 100%;
	background-color: #ddd;
	padding-top: 0;
	.titleCont{
		margin-top: 0;
		padding: 15px;
	}
	.individualToys{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px 0;
		.toyImage{
			width: 40%;
			height: 250px;
			.imageOfToy{
				height: 100%;
				border: 2px solid black;
				border-radius: 20px;
			}
		}
		.productDetails{
			width: 60%;
			padding: 10px;
		}
	}
}

#Gilbert {
	background-color: #333;
	color: #ddd;
	.toyImage{
	 border-right: 3px solid #ddd;
	}
}

#Bone_Shape {
	background-color: #ddd;
	color: #333;
	.toyImage{
	  border-right: 3px solid #333;
	}
}

#Tug_N_Toss {
	background-color: #333;
	color: #ddd;
	.toyImage{
	  border-right: 3px solid #ddd;
	}
}

@media screen and (max-width: 660px){
	.individualToys{
		.productDetails{
			width: 100% !important;
		}
		.toyImage{
			width: 100% !important;
			border-right: none !important;
		}
	}
}