$darkGray: #7B7367;
$lightGray: #fff;

.toyContainer {
	width: 100%;
	padding-top: 0;
	.titleCont{
		margin-top: 0;
		padding: 15px;
	}
	.individualToys{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px 0;
		.toyImage{
			width: 40%;
			height: 250px;
			.imageOfToy{
				height: 100%;
				border: 2px solid black;
				border-radius: 20px;
			}
		}
		.productDetails{
			font-family: "Comic Sans MS", sans-serif;
			width: 60%;
			padding: 10px;
			margin: 0 auto;
			h3{
				font-family: 'Shadows Into Light Two';
			}
		}
	}
}

.fivePercent{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.purchase{
	margin-top: 10px;
}

.imageOfToy:hover{
	border: 5px solid #D58669 !important;
}

.odd {
	background-color: $darkGray;
	color: $lightGray;
	.toyImage{
	 border-right: 3px solid $lightGray;
	}
}

.even {
	background-color: $lightGray;
	color: $darkGray;
	.toyImage{
	  border-right: 3px solid $darkGray;
	}
}




